<div class="container">
  <div class="row blog">
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">08:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="https://media-cdn.tripadvisor.com/media/photo-s/12/24/74/f8/entrada-do-restaurante.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Casa do Pastel</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante <i class="fa fa-comments-o"></i> </p>
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>A Casa do Pastel em Gramado fica bem no centro da cidade e oferece aos seus clientes pratos maravilhosos, além é claro dos deliciosos pastéis.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">09:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/jardim-amor.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Jardim do Amor</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Primeira Capela Estilo Vegas da América Latina, abre as portas para o exuberante Jardim do Amor, O espaço inspira corações apaixonados.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">11:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/parque-pedras-silencio.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Pedras do Silêncio</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Parque Esculturas Pedras do Silêncio, é contada a história da Imigração Germânica da região por intermédio de mais de 80 esculturas.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">12:30</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/tempero-gramado.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Tempero de Gramado</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Um dos melhores e mais recomendados restaurantes da cidade de gramado. Uma variedade de sabores e preços acessiveis para todos.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">14:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/parque-olivas.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Parque das Olivas</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>O Parque Olivas de Gramado promove um resgate da cultura raiz da cidade. O parque está em um dos pontos mais lindos de Gramado.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">16:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/musel-automovel.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Musel do Automóvel</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p> Museu do Automóvel conta através dos carros a história da indústria automotiva. É um projeto de dois colecionadores naturais.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">20:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/cantina-linha-bela.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Cantina Linha Bela</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Uma tradicional noite italiana espera você, na Cantina Linha Bella. Um jantar com música típica incluindo diversos pratoss.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <!--.item-->
        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->
    </div>
  </div>
</div>