  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand altern" href="index.html">Trilha BR</a>
      <button class="navbar-toggler navbar-toggler-right tog" 
        type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        Login
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>