<div id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <!-- <i class="navbar-brand js-scroll-trigger">
              <img src="../../../assets/img/icons/logo-trilha2.png" alt="">
          </i> -->
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TRILHA BR</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navFonts" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('home');">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('sobre');">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">DUVIDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger Cbtn Cbtn-danger">COMPRAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger Cbtn Cbtn-danger" (click)="logoutUser();">SAIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container h-10">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">

          <hr class="divider my-4">

          <img class="imgLogo" src="../../../assets/img/icons/trilha-router.jpeg" alt="">

          <hr class="divider my-4">
          <hr class="divider my-4">

        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
            Veja no mapa os pontos sugeridos para a sua rota.
            Ao clicar em cada item da lista veja o
            detalhe de cada item indicado em sua rota.
          </p>

          <div class="row h-40 align-items-center justify-content-center text-center">
            <div id="map-container-google-1" class="z-depth-1-half map-container">
              <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                class="bloco-mapa" allowfullscreen>
              </iframe>
            </div>
          </div>

          <hr class="divider my-4">
        </div>

        <div class="col-lg-12">
          <div class="container text-center">
            <!-- <h2 class="text-white bg-cz-txt mt-0">Galeria</h2> -->
            <h6 class="section-title h1">Galeria de Imagens</h6>

            <div class="gallerize-example">


              <div class="container">
                <div class="row megan">
                  <app-image-lightbox [imgArray]="images"></app-image-lightbox>
                </div>
              </div>

              <div class="container">
                <div class="row lister">
                  <app-lista-roteiro></app-lista-roteiro>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>