@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

header.areaLogin {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  opacity: 0.9;
  background: linear-gradient(to bottom, rgba(235, 122, 42, 0.8) 0%, rgba(106, 133, 255, 0.8) 100%), url("../../../assets/img/degrad11.jpg");
  /* background: url("../img/degrad11.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.areaLogin h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.areaLogin {
    height: 100vh;
    min-height: 50rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.areaLogin p {
    font-size: 1.15rem;
  }
  header.areaLogin h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.areaLogin h1 {
    font-size: 3.5rem;
  }
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 90px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #fff;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

@media (min-width: 992px) {
.header.masthead {
    height: 100vh;
    min-height: 50rem !important;
    padding-top: 72px;
    padding-bottom: 0;
  }
}

/* Bloco de Botões login */
.btns {
  margin-top: 15px;
}

.btns-login {
  width: 50px;
  width: 351px;
  height: 55px;
}

/* Login Comum */
.login-comum {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login-comum:hover {
  background: #17c;
}

.login-comum:focus {
  border-color: #05a;
}

/* Login Facebook */
.login-facebook {
  background: rgba(16, 30, 151, 0.856);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login-facebook:hover {
  background: rgb(9, 70, 119);
}

.login-facebook:focus {
  border-color: rgb(15, 81, 146);
}


/* Login Gmail */
.login-gmail {
  background: rgba(206, 36, 36, 0.856);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login-gmail:hover {
  background: rgb(133, 14, 24);
}

.login-gmail:focus {
  border-color: rgb(146, 30, 15);
}

.btn-cadastro {
  font-size: 14px;
  color: peru;
  cursor: pointer;
}

