<div id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <!-- <i class="navbar-brand js-scroll-trigger">
          <img src="../../../assets/img/icons/logo-trilha2.png" alt="">
      </i> -->
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TRILHA BR</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('home');">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('sobre');">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('contatos');">CONTATOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="areaLogin">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <div class="container">
            <div class="login">
              <div class="row">
                <div id="logreg-forms">
                  <div [hidden]="actionComponent !== 'login'">
                    <form class="form-signin">
                      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                      <div class="social-login">
                        <button class="btn facebook-btn social-btn" type="button"><span>
                          <i class="fab fa-facebook-f"></i> Sign in with Facebook</span> 
                        </button>
                        <button class="btn google-btn social-btn" type="button" (click)="googleLogin()">
                          <span>
                          <i class="fab fa-google-plus-g"></i> Sign in with Google+</span> 
                        </button>
                      </div>
                      <p style="text-align:center"> OR </p>
                      <input type="email" [(ngModel)]="emailInput" name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
                      <input type="password" [(ngModel)]="passwordInput" name="password" id="password" placeholder="Password" class="form-control" placeholder="Password" required="">
                      <button class="btn btn-success btn-block" type="submit" (click)="loginUser()">
                        <i class="fas fa-sign-in-alt"></i> Sign in
                      </button>
                      <a (click)="setAction('reset');" id="forgot_pswd">Forgot password?</a>
                      <hr>
                      <!-- <p>Don't have an account!</p>  -->
                      <button class="btn btn-primary btn-block" type="button" id="btn-signup"
                        (click)="setAction('signup');">
                        <i class="fas fa-user-plus"></i> Sign up New Account
                      </button>
                    </form>
                  </div>

                  <div [hidden]="actionComponent !== 'reset'">
                    <form class="form-reset">
                      <input type="email" [(ngModel)]="emailInput" name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
                      <button class="btn btn-primary btn-block" type="submit" (click)="forgotPassword()">Reset Password</button>
                      <a (click)="setAction('login');" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
                    </form>
                  </div>

                  <div [hidden]="actionComponent !== 'signup'">
                    <form class="form-signup">
                      <div class="social-login">
                        <button class="btn facebook-btn social-btn" type="button"><span>
                          <i class="fab fa-facebook-f"></i> Sign up with Facebook</span> 
                        </button>
                      </div>
                      <div class="social-login">
                        <button class="btn google-btn social-btn" type="button" (click)="googleLogin()">
                          <span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> 
                        </button>
                      </div>

                      <p style="text-align:center">OR</p>

                      <input type="text" [(ngModel)]="userName" name="userName" id="userName1" class="form-control" placeholder="Full name" required="" autofocus="">
                      <input type="email" [(ngModel)]="userEmail" name="userEmail" id="userEmail1" class="form-control" placeholder="Email address" required autofocus="">
                      <input type="password" [(ngModel)]="userPassword" name="userPassword" id="userPassword1" class="form-control" placeholder="Password" required autofocus="">
                      <input type="password" [(ngModel)]="userPasswordRepeat" name="userPasswordRepeat" id="userPasswordRepeat1" class="form-control" placeholder="Repeat Password" required autofocus="">

                      <button class="btn btn-primary btn-block" type="submit" (click)="registerUser()">
                        <i class="fas fa-user-plus"></i> Sign Up
                      </button>
                      <a (click)="setAction('login');" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
                    </form>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>