<div class="container">
  <div class="row blog">
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">08:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/minimundo.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Mini Mundo</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio <i class="fa fa-comments-o"></i> </p>
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Nesse parque, tudo é pequeno e charmoso. “Percorremos” pontos turísticos do mundo afora em réplicas reduzidas em 24 vezes.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">09:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/mundo-chocolate.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Mundo de Chocolate</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>naugurado em março de 2015, o Mundo de Chocolate convida você para dar uma volta ao mundo, conhecendo os mais belos pontos turísiticos.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">10:30</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/ice-bar.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Ice Bar Boreal</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>udo nesse bar é feito de gelo, incluindo mesa de sinuca, sofás, poltronas e até mesmo os copos. Por isso, a temperatura é muito, muito baixa.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">12:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/tempero-gramado.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Tempero de Gramado</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Uma comida caseira deliciosa aliada a um ambiente aconchegante e acolhedor. O restaurante conta com um buffet com mais de 16 opções.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">14:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/prawer-gramado.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Fábrica da Prawer Chocolates</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p> Neste, que é o primeiro parque de chocolates da América Latina, estão mais de 200 peças artesanais em chocolate maciço. Tem réplica da Monalisa, do Taj Mahal.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">16:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/super-carros.png"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Super Carros</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Aqui se reúnem os sonhos de consumo de muita gente! Afinal, o salão expõe carros importados de marcas consagradas, como Ferrari, Lamborghini, etc.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">19:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/josephina.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Josephina Café e Restaurante</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Para encerrar o dia com aquele ar nostálgico, jantamos no Josephina, cuja estrutura é a de uma casa antiga. Por isso, o ambiente transmite aconchego.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <!--.item-->
        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->
    </div>
  </div>
</div>