<div id="page-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TRILHA BR</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navFonts" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('home');">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('sobre');">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">DUVIDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger Cbtn Cbtn-danger bt-compra">COMPRAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger Cbtn Cbtn-danger bt-return" (click)="logoutUser();">VOLTAR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container h-10">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <hr class="divider my-4">
          <img class="imgLogo" src="../../../assets/img/icons/trilha-router.jpeg" alt="">
          <hr class="divider my-4">
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
            Veja detalhes do lugar selecionado para o seu roteiro e aproveite já para ir se imaginando neste lugar.
          </p>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-12">
          <div class="container text-center">
            <h6 class="section-title h1">Detalhe do Local</h6>
            <div class="gallerize-example">
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card mt-4">
                        <img class="card-img-top img-fluid"
                          src="../../../../../assets/img/img-cards/parque-pedras-silencio.jpg" alt="">
                        <div class="card-body">
                          <h3 class="card-title">Parque das Pedras do Silêncio</h3>
                          <h4>Valor a partir de 29.99 R$</h4>
                          <p class="card-text">Visite o Parque das Pedras do Silêncio local onde é contada a história da
                            Imigração Germânica da região por intermédio de mais de 80 esculturas esculpidas em arenito.
                            O resultado é o trabalho de três escultores gaúchos. A utilização dessa rocha foi uma
                            estratégia do parque pelo fato de ter no sul do país em grande abundância. Vale dizer que a
                            entrada e a recepção do parque foram construídas na técnica enxaimel. A mesma técnica que
                            foi utilizada pelos primeiros imigrantes alemães em suas casas no início da colonização. A
                            técnica enxaimel consiste na criação de peças que são encaixadas umas nas outras, sendo
                            presas com pinos de madeira (sem a utilização de pregos) e depois fechavam as paredes com
                            tijolos, pedras ou ainda somente galhos e argila</p>
                          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                          4.0 stars
                        </div>
                      </div>
                      <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                          Detalhes
                        </div>
                        <div class="card-body">
                          <p>Todos os dias, das 9:30 às 18:00h.</p>
                          <small class="text-muted"></small>
                          <hr>
                          <p>Rua Emilio Dinnebier Filho, 560 - Zona Rural, Nova Petrópolis - RS, 95150-000</p>
                          <small class="text-muted"></small>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>