<div class="container">
  <div class="row blog">
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">08:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/sao-pedro-casa-de-paes.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Sao Pedro Casa de Paes</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante <i class="fa fa-comments-o"></i> </p>
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>A Casa São Pedro de Pães fica bem no centro da cidade e oferece aos seus clientes pratos maravilhosos, além é claro dos deliciosos pastéis.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">09:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/valedosdinossauros.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Vale dos Dinossauros</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Embora não tenham relação formal, é impossível entrar no Vale dos Dinossauros sem se lembrar do Jurassic Park. Por essas e outras, recomendamos muito para quem tiver crianças.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">10:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/castelinho-girasol.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Castelinho Caracol</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>O Castelinho Caracol é um museu que mostra como era a vida dos primeiros moradores do município de Canela. As instalações realmente serviram como moradia no início dos anos 1910.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">12:30</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/bondinhos-aereos-parque-da-serra.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Bondinhos Aéreos do Parque</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Quem gosta de ecoturismo também encontra o que fazer em Gramado! O Parque da Serra oferece contato com a natureza em diversas trilhas.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">14:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../assets/img/img-cards/parque-olivas.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Alpen Park</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Esse parque de diversões traz diversas atrações tradicionais, como montanha-russa, carrinho e tirolesa. Além disso, oferece espaço kids, para os pequeninos.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">16:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/catedral-pedra.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Catedral de Pedra</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p> A Igreja N.S de Lourdes é chamada de “Catedral de Pedra” devido ao uso de pedras de basalto na construção. Imponente, possui torre com 65 metros.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">19:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list"
                        src="../../../../../assets/img/img-cards/kongo.jpg"> </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Kongo Pizza</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Inspirada na Floresta do Congo, pode-se dizer que essa pizzaria é uma das atrações de Gramado. Paramos para jantar lá na volta de Canela.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <!--.item-->
        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->
    </div>
  </div>
</div>