<div id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TRILHA BR</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navFonts" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('home');">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="setRouter('sobre');">SOBRE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">DUVIDAS</a>
          </li>
          <li class="nav-item" *ngIf="isLogado$">
            <a class="nav-link js-scroll-trigger Cbtn Cbtn-danger" (click)="logoutUser();">SAIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container h-10">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <hr class="divider my-4">
          <img class="imgLogo" src="../../../assets/img/icons/trilha-router.jpeg" alt="">
          <hr class="divider my-4">
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
            Selecione na lista a rota ideal para a sua viagem e
            observe no mapa os pontos sugestivos para a sua rota.
          </p>
          <div class="row h-40 align-items-center justify-content-center text-center">
          </div>
          <hr class="divider my-4">
        </div>
        <div class="row">

          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="tile">
                  <div class="wrapper">
                    <div class="header header1">Roteiro de 3 Dias</div>

                    <div class="banner-img">
                      <img src="../../../assets/img/gramado-neve.jpg" alt="Image 1">
                    </div>

                    <hr>
                    <div class="">Gramado/RS</div>

                    <div class="dates">
                      <div class="start">
                        <strong>Início</strong> 17/05/2020
                        <span></span>
                      </div>
                      <div class="ends">
                        <strong>Final</strong> 19/05/2020
                      </div>
                    </div>

                    <div class=""><h5 style="color: darkgreen;">Valor: 1.000 R$</h5></div>
                    <hr>

                    <div class="stats">

                      <div>
                        <strong>Locais</strong> 21
                      </div>

                      <div>
                        <strong>Restaurantes</strong> 9
                      </div>

                      <div>
                        <strong>Passeios</strong> 11
                      </div>

                    </div>

                    <div class="footer">
                      <a class="Cbtn Cbtn-primary" (click)="setRouter('detalhe');">Veja</a>
                      <a class="Cbtn Cbtn-danger">Compre</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="tile">
                  <div class="wrapper">
                    <div class="header header2">Roteiro de 3 dias</div>

                    <div class="banner-img">
                      <img src="../../../assets/img/gramado-neve.jpg" alt="Image 1">
                    </div>

                    <hr>
                    <div class="">Gramado/RS</div>

                    <div class="dates">
                      <div class="start">
                        <strong>Início</strong> 17/05/2020
                        <span></span>
                      </div>
                      <div class="ends">
                        <strong>Final</strong> 20/05/2020
                      </div>
                    </div>

                    <div class=""><h5 style="color: brown;">Valor: 1.500 R$</h5></div>
                    <hr>

                    <div class="stats">
                      <div>
                        <strong>Locais</strong> 21
                      </div>

                      <div>
                        <strong>Restaurantes</strong> 9
                      </div>

                      <div>
                        <strong>Passeios</strong> 11
                      </div>

                    </div>

                    <div class="footer">
                      <a class="Cbtn Cbtn-primary" (click)="setRouter('detalhe2');">Veja</a>
                      <a class="Cbtn Cbtn-danger">Compre</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="tile">
                  <div class="wrapper">
                    <div class="header header2">Roteiro 3 dias</div>

                    <div class="banner-img">
                      <img src="../../../assets/img/gramado-neve.jpg" alt="Image 1">
                    </div>

                    <hr>
                    <div class="">Gramado/RS</div>

                    <div class="dates">
                      <div class="start">
                        <strong>Início</strong> 17/05/2020
                        <span></span>
                      </div>
                      <div class="ends">
                        <strong>Final</strong> 20/05/2020
                      </div>
                    </div>

                    <div class=""><h5 style="color: brown;">Valor: 1.800 R$</h5></div>
                    <hr>

                    <div class="stats">

                      <div>
                        <strong>Locais</strong> 21
                      </div>

                      <div>
                        <strong>Restaurantes</strong> 9
                      </div>

                      <div>
                        <strong>Passeios</strong> 11
                      </div>

                    </div>

                    <div class="footer">
                      <a class="Cbtn Cbtn-primary">Veja</a>
                      <a class="Cbtn Cbtn-danger">Compre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>