<div class="container">
  <div class="row blog">
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">07:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/igreja-sao-pedro-dentro.png">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Igreja de São Pedro</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio <i class="fa fa-comments-o"></i> </p>
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>A Igreja de São Pedro é formada por mais de 70 mil pedras basálticas. Suas pinturas nos vitrais mostram a vida do apóstolo Pedro ao lado de Jesus Cristo.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">09:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/fonte-amor-eterno.png">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Fonte do amor eterno</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>
                        Ao lado da Igreja de São Pedro, você encontra a Fonte do Amor Eterno. Segundo a tradição, colocam-se ali cadeados com o nome da pessoa amada.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">11:30</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/casa-velha-bruxa.png">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Lanche na Casa da Velha Bruxa</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Bem perto do Palácio dos Festivais, paramos na Casa da Velha Bruxa para tomar um chocolate quente. E só temos uma coisa a dizer: fantástico!</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">13:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/2018-01-29.jpg">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Palácio dos Festivais</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>O nome original do palácio é Cine Embaixador. Além de sediar o Festival de Cinema de Gramado, exibe filmes com programação semanal.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">15:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/rua-coberta.png">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Rua Coberta</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p> Neste, que é o primeiro parque de chocolates da América Latina, estão mais de 200 peças
                        artesanais em chocolate maciço. Tem réplica da Monalisa, do Taj Mahal.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">19:30 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/rasen bier.jpg">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Rasen Platz</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Passeio
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Aqui se reúnem os sonhos de consumo de muita gente! Afinal, o salão expõe carros importados de
                        marcas consagradas, como Ferrari, Lamborghini, etc.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item-box-blog">
                  <div class="item-box-blog-image">
                    <!--Date-->
                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">21:00 HS</span> </div>
                    <!--Image-->
                    <figure> <img alt="" class="img-list" src="../../../../../assets/img/img-cards/dia 3/toro-gramado.png">
                    </figure>
                  </div>
                  <div class="item-box-blog-body">
                    <!--Heading-->
                    <div class="item-box-blog-heading">
                      <a tabindex="0">
                        <h5>Toro Gramado</h5>
                      </a>
                    </div>
                    <!--Data-->
                    <div class="item-box-blog-data" style="padding: px 15px;">
                      <p><i class="fa fa-user-o"></i> Restaurante
                    </div>
                    <!--Text-->
                    <div class="item-box-blog-text">
                      <p>Outra dica imperdível de restaurante em Gramado é o Toro, que serve deliciosos hambúrgueres. No nosso caso, foi uma alternativa àqueles da Rua Coberta.</p>
                    </div>
                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">Saiba Mais</a> </div>
                    <!--Saiba Mais Button-->
                  </div>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <!--.item-->
        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->
    </div>
  </div>
</div>